
body{

  height:100vw;


  background-color: #F2EDD7FF;
/*  background-color: #D7C49EFF;
 /* background-color:#F0E7E8;*/
 /* background-color: #F2EDD7FF;

 /* background-color: #131D28;*/
 /* background-color: #222629;*/
  /*background-color: #303437;*/
 /* background-color: #1F2833;*/
  /*background-color: #414754;*/
}

.App {





  font-family: 'Bitter', sans-serif;

  /*color:#38383A;*/
 /* color: #191919 ;*/
/*color:#101820FF;*/
 /* color:#36454f;*/
  color:#222629;



}
.myName > h1{

  font-size:40px;

}
.myName{

grid-area: contents;

}
.HomePage{

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "navs contents contents"
  "navs contents contents";



  grid-template-rows: auto auto auto;

}
.CardProject{


  background-color: #FAFAFA;
border: black hidden 1px;
  box-shadow: 0 0 2px;
  padding-left: 1em;
  padding-right: 1em;
  width: fit-content;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 .card .card-image{
   margin-top: 0;
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar > ul > li > a{
  text-decoration: none;
  color: white;

}

.navbar {

position: absolute;
  grid-area: navs;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;


width: 22vw;
/*background-color:#18181e;**/
/*background-color: #1d1d2c;*/
  background-color: #18181e;
/*  background-color:#001131 ;*/
  height: 100vw;
 /*color:#f7f4e9;*/
/*  color:#F2EDD7FF;*/
/*  color:#FBE7C6;*/
 /* color: #f7f4e9;*/
  color: #faf0dc;



}
.navbar >ul >li {
  margin-left: 2em;
  list-style: none;



}

.first {
  justify-self: center;
  text-align: center;
  padding-left: 1px;
  grid-column: 2/3;
}
.first > li >h2
{

font-size: xx-large;
  font-family: 'Playfair Display', serif;
  margin-bottom: 2px;


}

.first{
  position: fixed;
}

.first .lifirst {
 width: 17vw;
  margin-bottom: 2em;
}

.linken > a{
  text-decoration: none;
  display: inline;

}
.linken > img {
  display: inline-block;
}


.linken{
  display: inline-block;
}

.myName nav a {
  text-decoration: none;
}

.myName nav ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.myName nav ul li {

  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
.myName nav ul li a {

  color: #fff;

}

.myName nav ul  li:hover,
li:focus-within {
  background: red;
  cursor: pointer;
}
.education {
  background-color: #f7f7f7 ;
  padding: 2em 4em 2em;
  width: 65vw;
  display: grid;
  grid-template-columns: 170px 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-column-gap: 2em;
}

.education .ims {
  grid-column: 1/1;
  padding-top: 2em;
  width: 150px;
}

.education .ims img {
  margin-bottom: 2em;
}


.education .contentcard  {
  grid-column: 2/3;
  width: 52vw;
}

.education .skillscard {
  grid-column: 1/3;
  grid-row: 2/4;
width: 60vw;

}
.skillscard i{
  font-size: 3.75em;
  margin-left: 0.2em;
  display: inline-block;
  margin-top: 0.2em;
}
.navbar .first li a {
  font-size: 1.6em;
}
.skillscard h1{
  text-align: center;
}
.navbar .first li a img {
  position: absolute;
}
.home{
  background-color: #F2EDD7FF;
  padding: 2em 2em 2em 2em;
  display: grid;
  border: 2px solid #868B8E;
  grid-template-columns: 2fr 2fr ;
  height: 60vh;

  width: 70vw;
  -webkit-box-shadow: -7px 4px 5px -5px rgba(204,182,204,1);
  -moz-box-shadow: -7px 4px 5px -5px rgba(204,182,204,1);
  box-shadow: -7px 4px 5px -5px rgba(204,182,204,1);


}
.image img {
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: -10 -10;
  margin-top: 50px;
  width:300px;
  border-radius: 50%;
  object-fit: contain;

  grid-column: 1/2;



}
.home .contact h3 a {

  text-decoration: none;
  margin-bottom: 10px;
}
.home .contact h3 img {

}

.contact h1 {
  text-align: center;
}
.contact h2 {
  text-align: center;
}
.contact h3 {
  text-align: center;
}
.navbar .profile {
  margin-top: 2em;
  width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-transform: rotate(270deg);
  overflow: hidden;
  border-radius: 70%;
}
