body{

  background-color: #F2EDD7FF;
/*  background-color: #D7C49EFF;
 /* background-color:#F0E7E8;*/
 /* background-color: #F2EDD7FF;

 /* background-color: #131D28;*/
 /* background-color: #222629;*/
  /*background-color: #303437;*/
 /* background-color: #1F2833;*/
  /*background-color: #414754;*/
}

.App {





  font-family: 'Bitter', sans-serif;

  /*color:#38383A;*/
 /* color: #191919 ;*/
/*color:#101820FF;*/
 /* color:#36454f;*/
  color:#222629;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "nav nav nav"
                        "aa content bb";



  grid-template-rows: auto;
  justify-items: center;


}
.myName > h1{

  font-size:40px;

}
.myName{

 justify-self: center;

}
.HomePage{

  grid-area: content;

}
.CardProject{

  background-color: #FAFAFA;
border: black hidden 1px;
  box-shadow: 0 0 2px;
  padding-left: 1em;
  padding-right: 1em;
  width: fit-content;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
